* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: antiquewhite;
}

h1 {
    background-color: azure;
    text-align: center;
}

a {
    background-color: aliceblue;
}

img {
    width: 100%;
}

div {
    background-color: azure;
}

.menu {
    font-size: larger;
    color: rgb(255, 255, 255);
    background-color: rgb(99, 46, 46);
}